.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover, button:hover {
  color: #ffffff;
}

div.content {
  margin-left: 200px;
  font-size: 20px;
  padding: 1px 16px;
  height: 1000px;
}

.active {
  background-color: green;
  color: blue;
}


.sidebar a:hover{
  background-color: black;
}


p::first-letter {
  font-size: 150%;
  color: #0000FF;
}

#emailForm input:focus {
  background-color: yellow;
}

#emailForm input:invalid {
  border: 2px solid red;
}

h2:first-of-type {
  color: #707070;
  text-decoration: underline;
}

.sidebar .current {
  background-color: red;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}


@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  html {
    overflow-x: hidden;
  }
}


